<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наш магазин</title>
</head>
<body>
    <h2>Добро пожаловать в мир сантехники!</h2>
    <ul>
        <li>{{ mix }}</li>
        <button>К выбору</button>
        <li>{{ fai }}</li>
        <button>К выбору</button>
        <li>{{ whir }}</li>
        <button>К выбору</button>
        <li>{{ htr }}</li>
        <button>К выбору</button>
    </ul>
    <a href="/"><button>На главную</button></a>

</body>
</html>